# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular ;amguages of data science
+ List open source data environmemt used in data science
+ List ommonly used data science libraries
+ Do a mathematical operation

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib


| Data Science Tools |
|--------------------|
|  Jupyter           |
|  Anaconda Navigator|
|  RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [21]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [27]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Nupur